#app {
   .banner {
      position: relative;
      height: 100vh;
      width: 100vw;
      background: linear-gradient(to left, $color-purple, $color-red);
      overflow: hidden;
   }

   .list-cards {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      width: 90%;
      align-items: center;
      height: 100%;
      margin-left: 5%;
   }

   .cover {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      backdrop-filter: blur(1px);
      background-color: $color-black-1;
      display: none;
      transition: all 0.5s;
      animation: appearOpa ease 0.5s;
   }
}

@keyframes appearOpa {
   from {
      opacity: 0;
   }
   to {
      opacity: 1;
   }
}
